.pedidos {
    width: 50%;
    margin: auto;
    margin-top:2rem;
}

.pedidos li{
    list-style: inherit;
    margin-top: 4rem;
}


li .pedido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem;
}

.line {
    border-bottom: 1px solid black;
    width: 60%;
    height: 1px;
    margin: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}

#gorjeta {
    display: none;
}